
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
Congratulations @ViewData["fullName"]! You have successfully registered using email @ViewData["email"] and password @ViewData["password"].
