
@{
    ViewData["Title"] = "RegisterIndex";
}

<h1>Please enter your information below to register</h1>

<form action="/Register/Register" method="post">
    First Name: <input type="text" name="firstName" maxlength="25" /><br />

    Last Name: <input type="text" name="lastName" maxlength="25" /><br />

    Email: <input type="email" name="email" /><br />

    Password: <input type="text" name="password" maxlength="30" /><br />

    <input type="submit" value="Register" />

</form>

